{

	"HTMLFileName":"Test.html",
	"symbol_MObjWithShad":{
		"element_${_shadow32}":{
			"timelineColor":"0xceaef4",
			"animationEnabled":"true"},
		"element_${symbolSelector}":{
			"epOpened":"true"},
		"element_${_MoveObject}":{
			"timelineColor":"0x008dc8",
			"animationEnabled":"true"},
		"element_${_WithShadowObj}":{
			"timelineColor":"0x63599f",
			"animationEnabled":"true"}},
	"Letter1-Default Timeline_playhead_ms":"0",
	"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"\": [], \
                \"${_shadow32}\": [], \
                \"${_red_bant_small2}\": [], \
                \"${_Letter1}\": [], \
                \"${_stain_back2}\": [], \
                \"${_WithShadowObj}\": [], \
                \"${_MObjWithShad}\": [], \
                \"${_Rectangle}\": [], \
                \"${_MoveObject}\": []\
            }\
      }\
   }},\
\"Letter1\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"MoveObject\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_red_bant_small2}\": []\
            }\
      }\
   }},\
\"MoveArea\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_shadow32}\": [], \
                \"${_MObjWithShad}\": [], \
                \"${_shadow2}\": [], \
                \"${_Rectangle}\": [], \
                \"${_MoveObject}\": []\
            }\
      }\
   }},\
\"MObjWithShad\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"\": [], \
                \"${_shadow32}\": [], \
                \"${_WithShadowObj}\": [], \
                \"${_MoveObject}\": []\
            }\
      }\
   }},\
\"WithShadowObj\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }}\
}",
	"MoveObject-Default Timeline_playhead_ms":"0",
	"MObjWithShad-Default Timeline_playhead_ms":"0",
	"viewStartMs":"0",
	"MoveArea-Default Timeline_mark_ms":"2500",
	"symbol_stage":{
		"element_${_Letter1}":{
			"animationEnabled":"true",
			"timelineColor":"0xeedf79"},
		"element_${_MoveObject}":{
			"timelineColor":"0x00a096",
			"animationEnabled":"true"},
		"element_${_red_bant_small2}":{
			"timelineColor":"0x91c767",
			"animationEnabled":"true"},
		"element_${_Rectangle}":{
			"timelineColor":"0x00bda4",
			"animationEnabled":"true"},
		"element_${_stain_back2}":{
			"timelineColor":"0xeedf79",
			"animationEnabled":"true"}},
	"TransitionIdCounter":"48",
	"CompZoomFactor":"100",
	"viewStartY":"0",
	"pixelsPerMs":"0.2",
	"symbol_MoveArea":{
		"element_${_Rectangle}":{
			"timelineColor":"0x00a9fa",
			"animationEnabled":"true"},
		"element_${_MoveObject}":{
			"timelineColor":"0x2f73ad",
			"animationEnabled":"true"},
		"element_${_MObjWithShad}":{
			"timelineColor":"0xfb657a",
			"animationEnabled":"true"}},
	"MObjWithShad-Default Timeline_mark_ms":"1000",
	"stage-Default Timeline_mark_ms":"3000",
	"symbol_MoveObject":{
		"element_${_red_bant_small2}":{
			"timelineColor":"0x50bd82",
			"animationEnabled":"true"}},
	"stage-Default Timeline_playhead_ms":"3000",
	"MoveObject-Default Timeline_mark_ms":"3000",
	"MoveArea-Default Timeline_playhead_ms":"0",
	"usedBOM":"false"}